<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Reset Password for <%=validResetToken.email%></h1>
    <form id="myForm">
      <input type="hidden" name="userId" value="<%=validResetToken.userId%>" />
      <label for="new-password">New Password</label>
      <input type="password" id="new-password" name="newPassword" />
      <div class="errors" style="color: red"></div>
      <button type="submit">verify</button>
    </form>
  </body>
  <script>
    const myForm = document.getElementById('myForm')
    let errorsField = document.querySelector('.errors')
    myForm.addEventListener('submit', async e => {
      let newPassword = myForm.newPassword.value
      errorsField.textContent = ''
      const userId = myForm.userId.value
      e.preventDefault()
      try {
        const fetchedData = await fetch('/api/v1/auth/reset-password', {
          method: 'Post',
          body: JSON.stringify({ newPassword, userId }),
          headers: { 'Content-Type': 'application/json' }
        })

        if (fetchedData.ok) {
          localStorage.setItem('flashMessage', 'Password reset successful')
          window.location.href = '/api/v1/auth/login'
        } else {
          const { msg } = await fetchedData.json()
          msg.forEach(error => {
            const errorText = document.createElement('h4')
            errorText.textContent = error
            errorsField.appendChild(errorText)
          })
        }
      } catch (err) {
        console.log(err)
      }
    })
  </script>
</html>
